    <div class="jumbotron">
      <div class="container">
        <div class="header">
          <div class="row">
            <div class="col-md-2">
              <a href="#">
                <img src="assets/logo.svg" width="180" height="34">
              </a>
            </div>
            <div class="pull-right">
              <ul>
                <a href='#' id='log'><li>Log in</li></a>
                <li>
                  <a href="#" class="btn btn-default">Sign up</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="main">
          <h1>About Bolt</h1>
          <p>Buy or rent from the largest selection of movies and TV episodes. Try it for 30 days absolutely free. After your free trial, it's only $9.99/month for unlimited streaming, anywhere you go.</p>
          </br>
          <a href="home" class="btn" id="return">Return</a>
        </div>

      </div> 
        
    </div>

    