    <div class="jumbotron">
      <div class="container">
        <div class="header">
          <div class="row">
            <div class="col-md-2">
              <a href='#'><img src="assets/logo.svg" width="180" height="34"></a>
            </div>
          <div class="pull-right">
              <ul>
                <li><a href='#' id='log'>Log in</a></li>
                <li>
                  <a href="#" class="btn btn-default">Sign up</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="main">
          <h1>Watch your favorite movies, instantly.</h1>
          <a class="btn btn-default" href="about">Learn More</a>
          <form class="form-inline" role="form">
            <div class="form-group">
              <input type="text" class="form-control" id="search" placeholder="Browse the collection">
            </div>
            <button type="submit" class="btn btn-submit">Search</button>
          </form>          
        </div>
      </div>
    </div>

    <div class="supporting">
      <div class="container">
        <h2>A world of movies at your fingertips.</h2>
        <p>Choose from the latest titles, with new movies added every day.</p>
        <div class="row">
          <div class="col-md-8">
            <div class="thumbnail">
              <!-- The Avengers -->
              <a href='#'><img src="assets/the-avengers.jpg"></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <!-- Harry Potter and the Deathly Hallows -->
              <a href="#"><img src="assets/harry-potter.jpg"></a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <!-- Frozen -->
              <a href="#"><img src="assets/frozen.jpg"></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <!-- Iron Man 3 -->
              <a href="#"><img src="assets/iron-man.jpg"></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <!-- Transformers: Dark of the Moon -->
              <a href='#'><img src="assets/transformers.jpg"></a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <!-- The Lord of the Rings -->
              <a href="#"><img src="assets/the-lord-of-the-rings.jpg"></a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="thumbnail">
              <!-- Skyfall -->
              <a href="#"><img src="assets/skyfall.jpg"></a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <!-- The Dark Knight Rises -->
              <a href="#"><img src="assets/the-dark-knight.jpg"></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <!-- Pirates of the Caribbean -->
              <a href=""><img src="assets/pirates-of-the-caribbean.jpg"></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <!-- Toy Story 3 -->
              <a href=""><img src="assets/toy-story-3.jpg"></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="feature">
      <div class="container">
        <h1>Available everywhere</h1>
        <p>Start watching on one device, and pick up where you left off on another device.</p>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h3>Bolt</h3>
            <ul>
              <a href="#"><li>Careers</li></a>
              <a href="#"><li>Terms</li></a>
              <a href="#"><li>Help</li></a>
            </ul>
          </div>
          <div class="col-md-3">
            <h3>More Bolt</h3>
            <ul>
              <a href='#'><li>Gift Cards</li></a>
              <a href="#"><li>Trailers</li></a>
            </ul>
          </div>
          <div class="col-md-3">
            <h3>News</h3>
            <ul>
              <a href="#"><li>Blog</li></a>
              <a href="#"><li>Twitter</li></a>
              <a href="#"><li>YouTube</li></a>
              <a href="#"><li>Google+</li></a>
              <a href="#"><li>Facebook</li></a>
            </ul>
          </div>
        </div>
      </div>
    </div>